$font-link: "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap";
$font-size: 18px;
$font-weight: 400;
$font-weight-bold: 700;
$font: "DM Sans";
$font-stack: "DM Sans", sans-serif;

$primary-soft-red: hsl(10, 79%, 65%);
$primary-cyan: hsl(186, 34%, 60%);

$neutral-dark-brown: hsl(25, 47%, 15%);
$neutral-medium-brown: hsl(28, 10%, 53%);
$neutral-cream: hsl(27, 66%, 92%);
$neutral-very-pale-orange: hsl(33, 100%, 98%);
